<html>
    <title>Results</title>
    <body bgcolor="#903988">
        <center>
            <h1>YOUR FLOWER IS</h1><br> <br>
    
            {% if prediction == 0 %}
            <h1>IRIS SETOSA</h1>
            <img src="{{url_for('static', filename='Kosaciec_szczecinkowaty_Iris_setosa.jpg')}}">
            {% elif prediction==1 %}
            <h1> IRIS VERSICOLOR</h1>
            <img src="{{url_for('static', filename='Blue_Flag,_Ottawa.jpg')}}">
            {% else %}
            <h1>IRIS VIRGINICA</h1>
            <img src="{{url_for('static', filename='iris_virginica_virginica_lg.jpg')}}">
            {% endif %}
            <br><br>
            <a href='/'>go to home</a>
        </center>
    </body>
</html>